/* BOX SIZING */


/******* GLOBALES *******/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    margin: 0;
}


/*ASIDE*/
aside {
    width: 20vw;
    background-color: darkgoldenrod;

}