/* BOX SIZING */


/******* GLOBALES *******/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}



/*SELECTORES ETIQUETA*/

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


body, .contenedor, header, main, aside {
    display: flex;
}

.contenedor {
    width: 80vw;
    flex-direction: column;
}

aside {
    width: 20vw;
    height: 100vh;
    background-color: #ffc800;
    justify-content: flex-start;
    order: -1;

}

header {
    height: auto;
    background-color:rgb(245, 245, 245);
        
}

main {
    height: 90vh;
}

header, main {
    -webkit-box-shadow: -5px 6px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: -5px 6px 5px 0px rgba(0,0,0,0.2);
box-shadow: -5px 6px 5px 0px rgba(0,0,0,0.2);

}

nav {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    
}

nav div {
    display:flex;
    justify-content: flex-end;
    width: 4rem;
    margin: 1rem 0 1rem 90% ;
}

nav div i {
    color: rgb(81, 80, 80);
    font-size: 3rem;
}

aside img {
    width: 10rem;
    margin: 1rem auto;
}

section {
    width: 80%;
    margin: 0 auto;
}

.container-aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container-aside li {
    list-style: none;
    text-align: right;
    font-size: 1rem;
    line-height: 2.5rem;
    font-weight: 600;
}

#btn-home {
    cursor: pointer;
}

.container-aside li a {
    color: black;
    
    text-decoration: none;
}

.container-aside li a:hover {
    cursor: pointer;
    color: rgb(68, 68, 68);
}


.hide {
    display: none;
}

.general {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    padding: 2rem;
    width: 90%;
    margin: 0 auto;

}

.boards {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
}

.board1, .board2 {
    width:auto;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    height: auto;
    padding: 2rem;
    background-color: #f5f5f5;
    border-radius: 2rem;
    -webkit-box-shadow: -7px 11px 5px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: -7px 11px 5px 0px rgba(0,0,0,0.19);
    box-shadow: -7px 11px 5px 0px rgba(0,0,0,0.19);
}

.board1 div:first-of-type {
    display: flex;
    flex-direction: row;
}

.board1 div:first-of-type i {
    margin-left: 35%;
}


#form-login {
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#form-login i {
    font-size: 10rem;
    padding-bottom: 2rem;
    color: #036282;
}

#form-login button {
    width: 50%;
    margin: 0 auto;
    padding: 0.5rem;
    font-weight: 700;
    border-radius: 2rem;
}

#form-login button:hover {
    cursor: pointer;
    border-color: #036282;
    border-style: solid;
}


#form-login input {
    width: 80%;
    margin: 0 auto;
    height: 2rem;;
}

.board3, .board4{
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 0 0rem;
    height: auto;
    padding: 2rem;
    background-color: #f5f5f5;
    border-radius: 2rem;
    -webkit-box-shadow: -7px 11px 5px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: -7px 11px 5px 0px rgba(0,0,0,0.19);
    box-shadow: -7px 11px 5px 0px rgba(0,0,0,0.19);
}
.board4{
	padding-bottom: 4rem;
}

.boards-espacio{
	margin-right: 2rem;
}
 .saldos{
 	display: flex;
 }

select{
	border-style: solid;
    border-radius: 8px;
    padding: 0.5em;

    box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.19);
}

.fa, .fas{
    margin: 0.5rem;
    padding-right: 1rem;
}
h4{
	text-align: center;
}


.gastos-fijos{
	width: auto;
	display: flex;
	 flex-direction: column;
	  margin: 1rem 1rem 0 0rem;
    height: auto;
    padding: 2rem;
    background-color: #f5f5f5;
    border-radius: 2rem;
    -webkit-box-shadow: -7px 11px 5px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: -7px 11px 5px 0px rgba(0,0,0,0.19);
    box-shadow: -7px 11px 5px 0px rgba(0,0,0,0.19);
}

.gastos-extras{
	justify-content: right;
	width: auto;
	display: flex;
	 flex-direction: column;
	  margin: 1rem 1rem 0 0rem;
    height: auto;
    padding: 2rem;
    background-color: #f5f5f5;
    border-radius: 2rem;
    -webkit-box-shadow: -7px 11px 5px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: -7px 11px 5px 0px rgba(0,0,0,0.19);
    box-shadow: -7px 11px 5px 0px rgba(0,0,0,0.19);
}
.saldo-total{
	 justify-content: right;
	width: auto;
	display: flex;
	 flex-direction: column;
	  margin: 1rem 1rem 0 0rem;
    height: auto;
    padding: 2rem;
    background-color: #f5f5f5;
    border-radius: 2rem;
    -webkit-box-shadow: -7px 11px 5px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: -7px 11px 5px 0px rgba(0,0,0,0.19);
    box-shadow: -7px 11px 5px 0px rgba(0,0,0,0.19);
}

.total{
	margin-right: 2rem;
}