/* BOX SIZING */


/******* GLOBALES *******/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}



/*SELECTORES ETIQUETA*/

body {
    margin: 0;
}


body, .contenedor, header, main, aside {
    display: flex;
}

.contenedor {
    width: 80vw;
    flex-direction: column;
}

aside {
    width: 20vw;
    height: 100vh;
    background-color: darkgoldenrod;
    justify-content: flex-start;
    order: -2;

}

header {
    height: 10vh;
    background-color: coral;
    
}


